transition()
  transition arguments
  -webkit-transition arguments

transform()
  transform arguments
  -webkit-transform arguments

dflex()
  display -webkit-flex
  display flex

.hide
  visibility hidden

.show
  visibility visible

[v-cloak]
  display none !important

$animetime = 0.5s

input 
button 
  outline none
  border none 
  margin 0
  padding 1px 0
  transition(all .1s)
  background white
  
  &:hover
  &:focus
    background #dff

  &:active
    background #bff

body
  background-color rgba(0,0,0,0)
  margin 0 auto
  overflow hidden

  #bc-main
    
    .bc-wrap
      dflex()
      height 100vh
      width 100vw

      .bcs
        dflex()
        flex auto
        flex-flow column nowrap
        justify-content flex-end
        font-size 24px
        word-break break-all
        overflow hidden

        .bc
          flex none
          border-radius 5px
          padding 0 6px
          line-height 32px
          transition(all $animetime)

          &.livehost
            background #fd0

          .spanner-icon
            width 26px
            margin 0 2px -5px 0
    
    #menu
      position fixed
      width 100vw
      height 100vh
      top -100vh
      left 0
      opacity 0
      transition(all $animetime)
      
      &.show
        opacity 1
        transform(translateY(100vh))

      > div
        position absolute 
        transition(all $animetime)

      .menu-mask
        width 104%
        height 104%
        left -2%
        top -2%
        background black 
        opacity 0.2
        z-index 9

      .menu-wrap
        dflex()
        flex-flow column nowrap
        justify-content center
        align-items center
        width 420px
        height 380px
        top 50%
        left 50%
        margin-top -(@height / 2)
        margin-left -(@width / 2)
        z-index 10
        text-align center 
        background rgba(150,150,150,.9)
        border-radius 20px
        position relative

        > div
          margin-bottom 3px

          > label
            display inline-block
            width 300px
            text-align right
          
          > input 
            text-align center
            margin-left 10px
            width 80px
            height 16px
            font-size 15px
            vertical-align middle
          
          > input[type="range"]
            -webkit-appearance none
            width 95%
            height 8px
            border-radius (@height / 2)
            margin 10px 0
            background #bff

            &::-webkit-slider-thumb
              -webkit-appearance none
              width 16px
              height @width
              border-radius 50%
              background #48f
              margin-top -4px
            
            &::-webkit-slider-runnable-track
              height 8px
              border-radius (@height / 2)
          
        button
          margin-top 6px
          height 30px
          width 100px
          border-radius 5px

        .blocklevel

          input[type="range"]
            margin-top 5px

        .colormode
          position relative
          height 30px
          
          label
            width initial
            margin-right 110px
            line-height 30px
          
          button
            position absolute
            width 145px
            height 30px
            top 0
            margin 0
            transition(all $animetime)

        .roomid
          margin-top 2px

          label
            width initial

        .timeftt
          width 85%

          label
            width 100%
            text-align center

          input
            width 100%
            margin 0

        #about
          position absolute
          left 24px
          bottom 14px

        .langsel
          position absolute
          right 24px
          bottom 14px

.comment-fade
.colormodets
  transition(all $animetime)

.comment-fade-enter
.comment-fade-leave-to
.confmenu-enter
.confmenu-leave-to
.colormodets-enter
.colormodets-leave-to
  opacity 0

.comment-fade-enter
  transform(translateY(24px) translateX(12px))

.comment-fade-leave-to
  transform(translateY(-24px))

.colormodets-enter
  transform(translateY(-24px))

.colormodets-leave-to
  transform(translateY(24px))
