.hide {
  visibility: hidden;
}
.show {
  visibility: visible;
}
[v-cloak] {
  display: none !important;
}
input,
button {
  outline: none;
  border: none;
  margin: 0;
  padding: 1px 0;
  transition: all 0.1s;
  -webkit-transition: all 0.1s;
  background: #fff;
}
input:hover,
button:hover,
input:focus,
button:focus {
  background: #dff;
}
input:active,
button:active {
  background: #bff;
}
body {
  background-color: rgba(0,0,0,0);
  margin: 0 auto;
  overflow: hidden;
}
body #bc-main .bc-wrap {
  display: -webkit-flex;
  display: flex;
  height: 100vh;
  width: 100vw;
}
body #bc-main .bc-wrap .bcs {
  display: -webkit-flex;
  display: flex;
  flex: auto;
  flex-flow: column nowrap;
  justify-content: flex-end;
  font-size: 24px;
  word-break: break-all;
  overflow: hidden;
}
body #bc-main .bc-wrap .bcs .bc {
  flex: none;
  border-radius: 5px;
  padding: 0 6px;
  line-height: 32px;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}
body #bc-main .bc-wrap .bcs .bc.livehost {
  background: #fd0;
}
body #bc-main .bc-wrap .bcs .bc .spanner-icon {
  width: 26px;
  margin: 0 2px -5px 0;
}
body #bc-main #menu {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: -100vh;
  left: 0;
  opacity: 0;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}
body #bc-main #menu.show {
  opacity: 1;
  transform: translateY(100vh);
  -webkit-transform: translateY(100vh);
}
body #bc-main #menu > div {
  position: absolute;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}
body #bc-main #menu .menu-mask {
  width: 104%;
  height: 104%;
  left: -2%;
  top: -2%;
  background: #000;
  opacity: 0.2;
  z-index: 9;
}
body #bc-main #menu .menu-wrap {
  display: -webkit-flex;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 380px;
  height: 380px;
  top: 50%;
  left: 50%;
  margin-top: -190px;
  margin-left: -190px;
  z-index: 10;
  text-align: center;
  background: rgba(150,150,150,0.9);
  border-radius: 20px;
  position: relative;
}
body #bc-main #menu .menu-wrap > div {
  margin-bottom: 3px;
}
body #bc-main #menu .menu-wrap > div > label {
  display: inline-block;
  width: 250px;
  text-align: right;
}
body #bc-main #menu .menu-wrap > div > input {
  text-align: center;
  margin-left: 10px;
  width: 80px;
  height: 16px;
  font-size: 15px;
  vertical-align: middle;
}
body #bc-main #menu .menu-wrap > div > input[type="range"] {
  -webkit-appearance: none;
  width: 95%;
  height: 8px;
  border-radius: 4px;
  margin: 10px 0;
  background: #bff;
}
body #bc-main #menu .menu-wrap > div > input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #48f;
  margin-top: -4px;
}
body #bc-main #menu .menu-wrap > div > input[type="range"]::-webkit-slider-runnable-track {
  height: 8px;
  border-radius: 4px;
}
body #bc-main #menu .menu-wrap button {
  margin-top: 6px;
  height: 30px;
  width: 100px;
  border-radius: 5px;
}
body #bc-main #menu .menu-wrap .colormode {
  position: relative;
  height: 30px;
}
body #bc-main #menu .menu-wrap .colormode label {
  width: initial;
  margin-right: 110px;
  line-height: 30px;
}
body #bc-main #menu .menu-wrap .colormode button {
  position: absolute;
  width: 145px;
  height: 30px;
  top: 0;
  margin: 0;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}
body #bc-main #menu .menu-wrap .roomid {
  margin-top: 2px;
}
body #bc-main #menu .menu-wrap .roomid label {
  width: initial;
}
body #bc-main #menu .menu-wrap .timeftt {
  width: 280px;
}
body #bc-main #menu .menu-wrap .timeftt label {
  width: 100%;
  text-align: center;
}
body #bc-main #menu .menu-wrap .timeftt input {
  width: 100%;
  margin: 0;
}
body #bc-main #menu .menu-wrap #about {
  position: absolute;
  left: 24px;
  bottom: 14px;
}
body #bc-main #menu .menu-wrap .langsel {
  position: absolute;
  right: 24px;
  bottom: 14px;
}
.comment-fade,
.colormodets {
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}
.comment-fade-enter,
.comment-fade-leave-to,
.confmenu-enter,
.confmenu-leave-to,
.colormodets-enter,
.colormodets-leave-to {
  opacity: 0;
}
.comment-fade-enter {
  transform: translateY(24px) translateX(12px);
  -webkit-transform: translateY(24px) translateX(12px);
}
.comment-fade-leave-to {
  transform: translateY(-24px);
  -webkit-transform: translateY(-24px);
}
.colormodets-enter {
  transform: translateY(-24px);
  -webkit-transform: translateY(-24px);
}
.colormodets-leave-to {
  transform: translateY(24px);
  -webkit-transform: translateY(24px);
}
